@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(38, 41, 44);
  --light-background-color: rgb(255, 255, 255);
  --medium-background-color: rgb(247, 247, 247);
  --dark-background-color: rgb(64, 67, 70);
  --border-color: rgb(229, 229, 229);
  --add-color: rgb(8, 167, 66);
  --remove-color: rgb(252, 116, 115);
  --label-color: rgb(116, 118, 120);
}

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
