.element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  padding: 8px 16px;

  .info {
    .name {
      font-weight: 600;
      font-size: 18px;
      margin: 0;
    }

    .organization {
      margin: 8px 0 0 0;
      font-size: 14px;
      font-weight: 600;
      color: gray;

      .logo {
        height: 16px;
        margin-right: 8px;
      }
    }
  }

  .avatar {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
